SECRET_KEY=YourSecretKeyHere
DB_NAME=YourDatabaseNameHere
DB_USER=yourDatabaseUserHere
DB_PASSWORD=yourDatabasePasswordHere
DB_HOST=postgres
DB_PORT=5432

EMAIL_HOST_PASSWORD=yourEmailPasswordHere

GOOGLE_SECRET=yourGoogleSecretHere

SUPERUSER_USERNAME=yourSuperuserUsernameHere
SUPERUSER_EMAIL=yourSuperuserEmailHere
SUPERUSER_PASSWORD=yourSuperuserPasswordHere